<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Musical Mayhem</title>
    <link type="text/css" rel="stylesheet" href="../styles/main.css">
</head>
<body>

    <div id="game" class="display-none">
        <canvas></canvas>

        <div class="content dark-gradient">
            <div id="playlists" class="list fixed-border">
                <h4>Your Playlists</h4>
            </div>
            <div id="tracks" class="fixed-border">
                <h4>Playlist Tracks</h4>
                <div class="list"></div>
                <button id="next" class="btn-link hidden">More</button>
            </div>
        </div>
    </div>

    <div id="login" class="center light-gradient flex">
        <div class="card dark">
            <h1>Welcome to Musical Mayhem</h1>
            <p>This is a game that uses the Spotify web player and web API to alter the difficulty.
                To use this application you need to have a Spotify account.</p>
            <p>If you don't have a Spotify account, you can play the game without one. Many features will be missing.</p>
            <div class="row">
                <button type="button" class="btn-link light" onclick="location.href='http://localhost:8888/login';">Log in with Spotify</button>
                <button type="button" id="no-spotify" class="btn-link light">Open without Spotify</button>
            </div>
        </div>
    </div>

    <!--    Spotify SDK script    -->
    <script type="text/javascript" src="https://sdk.scdn.co/spotify-player.js"></script>

    <!-- Game Components -->
    <script src="../build/app.js" type="module"></script>
    <script src="../build/components/game/game.js" type="module"></script>
</body>
</html>