<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Musical Mayhem</title>
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>

    <canvas></canvas>

    <div class="content">
        <div class="list"></div>
    </div>

    <!--    Spotify SDK script    -->
    <script src="https://sdk.scdn.co/spotify-player.js"></script>

    <!-- Game Components -->
    <script src="build/app.js" type="module"></script>
    <script src="build/components/game.js" type="module"></script>
</body>
</html>