:root{
    --light-white: rgba(225, 226, 239, 1);
    --light-mulberry: rgba(185, 95, 137, 1);
    --dark-purple: rgba(36, 1, 21, 1);
    --dark-black: rgb(34, 47, 49);
    --dark-black2: rgb(20, 20, 20)
}